@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#slider-s DIV {
  text-align: center;
}
#slider-s H1 {
  text-align: center;
}
#content5-t .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-t .mbr-article {
  color: #222222;
}
#content5-q .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-q .mbr-article {
  color: #fff;
}
#content5-q .mbr-article P {
  color: #cccccc;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#form1-i .mbr-header__text {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#undefined undefined {
  text-align: right;
}
#undefined P {
  color: #c1c1c1;
}
#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-h .mbr-navbar__section {
  background: #000000;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-size: 25px;
}
